# Node.js dependencies
node_modules/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# npm package-lock and yarn.lock files
package-lock.json
yarn.lock

# Optional: If using test coverage tools like Jest
coverage/

# Optional: If using any build tool (e.g., Webpack)
dist/
build/

# Optional: If using IDEs like VSCode
.vscode/
.idea/
